<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>转场动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3B5622B1C6419D50002C7EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3B562441C6419D50002C7EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3B5624F1C6419D60002C7EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
